.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .navbar-brand {
    font-size: 1.2rem;
  }
  
  .navbar-menu {
    display: flex;
  }
  
  .navbar-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
  }
  
  .icon {
    margin-right: 5px;
  }
  